.typing-paragraph {
  color: white;
  text-align: justify;
  opacity: 0;
  animation: fade-in-typing 2s ease forwards;
}

@keyframes fade-in-typing {
  0% {
    opacity: 0;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
