*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    margin: 0;
}

.parallax {
  position: relative;
  height: 100vh;
  background-image: url('../assets/image/passion.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* enables parallax */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


.content-section {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  background-color: #000;
  z-index: 2;
  position: relative;
}

@media (width <= 768px) {
  .parallax {
    background-attachment: scroll;
  }
}


